.bg-main-image{
    background-color:grey;
    background-size: cover;
    background-position: center;
    min-height: 35vh;
    position: relative;
  }
  

  
  @media only screen and (min-width: 768px) {
    .bg-main-image {
      background-image: url(./Mowing.png);
    }
 
      .title-tag  {
        position: sticky;
        display: flex;
        align-items:flex-start;    
        bottom: -1.45rem;
      }
      


    /* .middle-card{
      display: flex;
      align-items: center;
    } */
  }


 
/* 
  .title-tag  {
    position:absolute;
    right:25px;
    left:20px;
    bottom: -6.0rem;
  } */



  .vh-100 {
    height: 60vh!important;
}


.side-cards{
  display: flex;
  align-items: center;
}



.middle-card{
  display: flex;
  align-items: center;
}


.icon-card{
  /* display: flex; */
  /* justify-content: flex-start;
  align-items: flex-start; */
}

.threecards{
  display: flex;
  justify-content: space-between;

}

  .customfont{
    font-family: 'Pacifico', cursive;
    font-size:9;
  }

  .bottombutton{
    display: flex;
    justify-content: flex-end;
  }

